.svg{
    {{#shapes}} .{{base}}{
        width: {{width.inner}}px;
        height: {{height.inner}}px;
        background: url('../img/sprite.svg') no-repeat {{(position.absolute.x - 9)}}px {{(position.absolute.y - 9)}}px;
    } 
    {{/shapes}}
}

.non-svg{
    {{#shapes}} .{{base}}{
        width: {{width.inner}}px;
        height: {{height.inner}}px;
        background: url('../img/sprite.png') no-repeat {{(position.absolute.x - 9)}}px {{(position.absolute.y - 9)}}px;
    } 
    {{/shapes}}
}